.booking-item-flight-details {
  overflow: hidden;
}
.booking-item-flight-details .booking-item-departure,
.booking-item-flight-details .booking-item-arrival {
  float: left;
  width: 47%;
}
.booking-item-flight-details .booking-item-departure .fa-plane,
.booking-item-flight-details .booking-item-arrival .fa-plane {
  float: left;
  display: block;
  font-size: 30px;
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.booking-item-flight-details .booking-item-departure h5,
.booking-item-flight-details .booking-item-arrival h5 {
  margin-bottom: 0;
}
.booking-item-flight-details .booking-item-departure .booking-item-date,
.booking-item-flight-details .booking-item-arrival .booking-item-date {
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 1em;
  padding-left: 32px;
}
.booking-item-flight-details .booking-item-departure {
  margin-right: 6%;
}
.booking-item-flight-details .booking-item-destination {
  font-size: 12px;
  line-height: 1.3em;
}
.status-1, .status-3, .status-6 {
  color: #14892c;
}
.status-0, .gds-100 {
  color: #3572b0;
}
.status-2 {
  color: #f79232;
}
.status-4, .status-5, .gds-102 {
  color: #d04437;
}
.gds-101 {
  color: #205081;
}
.booking-item-flight-details .booking-item-departure h5, .booking-item-flight-details .booking-item-arrival h5 {
  font-size: 18.2px;
  font-weight: 300;
}
.booking-item {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 17px;
  border: 1px solid #e6e6e6;
  color: #737373;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.booking-item-container .booking-item-details {
  height: 0;
  height: auto;
  overflow: auto;
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-top: none;
  position: relative;
  font-size: 11px;
  line-height: 1.6em;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.booking-item-container .booking-item-details .list {
  margin-bottom: 20px;
}